<div id="todolist">

    <section>

        <!--
            Header
        -->
        <header>
            <h1>Todos</h1>
            <div>
                <form>
                    <input #newItem type="text" class="form-control" id="name" required  name="name" (keyup.enter)="addItem(newItem.value)">

                </form>
            </div>
        </header>
        <!--
            Fin Header
        -->

        <!--
            Zone Test
        -->
        <h2>Zone de test</h2>
        <!--
            Fin Zone Test
        -->

        <!--
            List item todolist
        -->
        <div id="list">

            <ul>
                <li
                *ngFor="let item of items | async; let i = index"
                [ngClass]="{
                  'show': selectedItem === 'item'+i,
                  'hide': selectedItem !== 'item'+i
                }">

                   <div class="content" class="description">{{item.description}}</div>
                   <div class="content" class="update">
                      <input #updateItem type="text" class="form-control" id="name" name="name" value="{{item.description}}">
                      <button (click)="updateItems( updateItem.value, item.key )">Valider</button>
                   </div>

                   <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>

                   <div class="sup"       (click)="deleteItems(item.key)">Supprimez</div>
                   <div class="modfifier" (click)="show(i)">modifiez</div>

                </li>
            </ul>

        </div>
        <!--
            Fin list item todolist
        -->

    </section>

</div>
