#todolist
    width 700px
    margin 0 auto

    #list
      .hide
         .update
            display none

      .show
         .update
            display block

         .description
            display none
