<div id="todolist">

   <section>

   <!--
      Header
   -->
   <header id="header">

      <h2 class="header_title">Liste des tâches</h2>

      <div>
         <form>

            <mat-form-field class="example-full-width">
               <input matInput #newItem type="text" class="form-control" required (keyup.enter)="addItem(newItem.value)" placeholder="Votre tâche">
            </mat-form-field>

         </form>

      </div>
   </header>
   <!--
      Fin Header
   -->

   <section id="filtre">
      <form>
         <button type="button" name="all" (click)="filterCompleted(null)" mat-raised-button>All tasks</button>
         <button type="button" name="completed" (click)="filterCompleted(true)" mat-raised-button>completed</button>
         <button type="button" name="nocompleted" (click)="filterCompleted(false)" mat-raised-button>No completed</button>
      </form>
   </section>

   <!--
      List item todolist
   -->
   <div id="list">
      <ul class="items">
         <li
            *ngFor="let item of items | async; let i = index"
            [ngClass]="{
               'show': selectedItem === 'item'+i,
               'hide': selectedItem !== 'item'+i,
               'completed': item.completer}
               "
            class="item">

            <mat-checkbox class="check-completed" (change)="updateCompleted(item.completer, item.key)" [(ngModel)]="item.completer"></mat-checkbox>

            <div class="content description" (dblclick)="show(i)">
               <span>{{item.description}}</span>
            </div>

            <div class="content update">
               <form>
                  <mat-form-field class="example-full-width">
                     <input matInput #updateItem type="text" class="form-control" id="update{{i}}" name="update{{i}}" value="{{item.description}}" (keyup.enter)="updateItems( updateItem.value, item.key )">
                  </mat-form-field>
               </form>
            </div>

            <button class="sup" (click)="deleteItems(item.key)"></button>

         </li>
      </ul>
   </div>

   <!--
      Fin list item todolist
   -->

   </section>
</div>
