<div id="todolist">

   <section>
      <form [formGroup]="registerForm">
         <div class="form-group">
            <label>Email
               <input type="email" formControlName="email" class="form-control" required>
            </label>
         </div>
         <div class="form-group">
            <label>Password :
               <input type="password" class="form-control" formControlName="password" required>
            </label>
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
         </div>

         <button
            type="submit"
            (click)="tryRegister(registerForm.value)"
            class="btn btn-default"
            [disabled]="!registerForm.valid"
            mat-raised-button>
               S'enregistrer
         </button>
      </form>
   </section>

</div>
